<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="https://java.sun.com/xml/ns/javaee https://java.sun.com/xml/ns/javaee/web-app_3_0.xsd http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee"
	id="WebApp_ID" version="3.0">
	<display-name>Web Demo</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>dbURL</param-name>
		<param-value>jdbc:mysql://localhost/mysql_db</param-value>
	</context-param>
	<context-param>
		<param-name>dbUser</param-name>
		<param-value>mysql_user</param-value>
	</context-param>
	<context-param>
		<param-name>dbUserPwd</param-name>
		<param-value>mysql_pwd</param-value>
	</context-param>
	<filter>
		<display-name>Filter</display-name>
		<filter-name>Filter</filter-name>
		<filter-class>com.trangialam.filter.Filter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<context-param>
		<param-name>host</param-name>
		<param-value>smtp.gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>port</param-name>
		<param-value>587</param-value>
	</context-param>

	<context-param>
		<param-name>email</param-name>
		<param-value>tranriemann5298@gmail.com</param-value>
	</context-param>

	<context-param>
		<param-name>name</param-name>
		<param-value>Tran Gia Lam</param-value>
	</context-param>

	<context-param>
		<param-name>pass</param-name>
		<param-value>vxgqhybroiuznkzy</param-value>
	</context-param>

</web-app>